.login {
    height: 50vh;
    width: 20%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 10%;
    background-color: #ECF0F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    input {
        width: 200px;
        height: 30px;
        margin: 10px;
        border: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    button {
        width: 100px;
        height: 30px;
        margin: 10px;
        border: none;
        background-color: #003566;
        color: aliceblue;
        border-radius: 12px;
    }
    button:hover {
        background-color: #1e6091;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

    }
    span {
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: bold;
        color: #003566;
        margin-top: 5%;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        margin-top: 5%;
    }
    body{
        background-color: cadetblue;
    }
    h5 {
        color: #c9184a;
    }
}
